@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar style */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0CAF60;
    border-radius: 5px;
}

.iconSize{
    font-size: 16px !important;
}

/* animation progressbar */
.progressorRun{
  animation: progressor 2s ease-in-out forwards;
}

@keyframes progressor{
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }